body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;  
} 
* {
    box-sizing: border-box;
} 
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
} 
img {
    display: block;
    max-width: 100%;
    height: auto;
} 
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.list {
    list-style: none;
} 
.link {
    text-decoration: none;
} 
/*HEADER*/
.logo {
    font-family : 'Raleway', sans-serif;
    font-weight : 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-part  {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:focus .logo-part {
    color: #4D5AE5;
}

/*MAIL*/
.hero {
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
    to right, 
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-hero-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42;
}
.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 72px;
}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #404BBF;
}
.bankdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bankdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    min-width: 408px;
    min-height: 576px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    text-align: left;
}
.close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:focus {
    background: #404BBF;
    fill: #FFFFFF;
    border: 1px solid rgb(0 0 0 / 0);
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.modal-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}   
.modal-input-name {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.modal-label {
    margin-bottom: 8px;
}
.input-contact-form {
    width: 100%;
    height: 40px;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
}
.input-contact-form:focus {
    outline: none;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    border-color: 1px solid #4D5AE5;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-contact-form:focus + .modal-form-icon {
    fill: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-icon{
    position: relative;
    display: block;
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
}
.contact-form-message {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #8E8F99;
    width: 360px;
    height: 120px;
    resize: none;
    margin-bottom: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 42px;
}
.contact-form-message:focus {
    outline: none;
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-name-policy {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}
.modal-check {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.modal-check::before {
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    content: '';
    cursor: pointer;
    margin-right: 8px;
}   
.modal-form-checkbox:checked + .modal-check::before {
    background-image: url(../images/icons/galochka.svg );
    background-color: #404BBF;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    border-color: #404BBF;
    padding: 4px 3px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
} 
.contact-form-btn {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    padding: 16px 32px;
    color: #FFFFFF;
    align-items: center;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    min-width: 169px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-btn:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #404BBF;
}
.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 128px;
}
.section-title {
    margin-bottom: 72px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.subsection {
    text-align: center;
}
.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.name {
    background-color: #FFFFFF;
    padding: 32px 14px 32px 14px;
}
.name-worker {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42
    }
.trade-worker {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}
.network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.network-team {
    display: flex;
    width: 40px;
    height: 40px;
    background-color:#4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-team:focus {
    background-color:#31D0AA;
}
.icon-network {
    display: flex;
    fill: #4D5AE5;
}
.firm-box {
    padding-top: 96px;
    padding-bottom: 96px;
}
.customers {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firm-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firm-icon:focus {
    fill:#4D5AE5;
    color: #4D5AE5;
    border: 0.5px solid #4D5AE5;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*PORTFOLIO*/


.modal-btn  {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 8px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:focus    {
    background: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.card-project {
    background: #FFFFFF;
}
.card-item {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.name-project {
    text-align: start;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 0.5px solid #f4f4fd;
    border-top: none;
}
.sub-title  {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
    color: #2E2F42;
}

.description   {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*FOOTER*/

.page-footer {
    background: #2E2F42;   
}
.footer-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    text-align: start;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}
.logo-footer-part {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:focus .logo-footer-part {
    color: #4D5AE5;
}
.social-media {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.footer-network {
    display: flex;
    gap: 16px;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-network {
    fill:  #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:focus  {
    background-color: #31D0AA;
}

.footer-icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgb(67, 68, 85);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.footer-input {
    padding-right: 24px;
    padding-bottom: 16px;
}
.footer-btn-icon {
    display: inline-flex;
    
}
.input-contact-form-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    background-color: #2E2F42;
    letter-spacing: 0.04em;
    width: 264px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
}
.subscribe-btn-footer {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    background: #4D5AE5;
    border-color: #4D5AE5;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-footer-name {
    padding-right: 16px;
}
.subscribe-btn-footer:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #404BBF;
} 

.footer-icon:focus  {
    background-color: #31D0AA;
}

.footer-icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgb(67, 68, 85);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


            /* header*/
@media screen and  (max-width: 428px) {
    .mobile-phone {
        font-size: 28px;
    }
    .mobile-menu-network {
        gap: 30px ;
}
}
@media screen and (min-width: 428px) and (max-width: 767px) {
    .mobile-phone {
        font-size: 36px;
    }  
    .mobile-menu-network { 
        gap: 56px;
}
}
@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-right: auto;
        margin-left: auto;
    }
    .menu-mobile-link{
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }   
}

@media screen and (max-width: 767px) {
    
    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    .page-header {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        background: #FFFFFF;
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .logo:active  {
        color: #4D5AE5;
        }
    .menu {
        display: none;
    }
    .contact {
        display: none;
    }
    .mobile-menu-open {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        max-height: 796px;
        background-color: #FFFFFF;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        overflow-y: scroll;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    } 
    .mobile-menu-container {
        position: relative;
        padding: 80px 15px 0 40px;
    }
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        background: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        border-radius: 45px;
        display: flex;
        align-items: center;
        padding: 8px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu-item {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 40px;
    }
    .menu-mobile-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    .menu-mobile-link:active,
    .menu-mobile-link:focus {
        color:#4D5AE5;
    }
    .mobile-contact-bottom {
        position: absolute;
        top: 564px;
        bottom: 0;
        margin-top: auto;
    }
    .mobile-menu-contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        gap: 40px;
    }
    .mobile-mail {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .mobile-phone {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        text-align: left;
        color:#434455;
    }   
    .mobile-menu-network { 
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        padding-bottom: 40px;
    }
    .network-menu {    
        display: flex;
        width: 40px;
        height: 40px;
        background-color:#4D5AE5;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .icon-network {
        display: flex;
        fill: rgba(77, 90, 229, 1);
    }
    
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-menu-open {
        display: none;
    }
    .page-header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .page-header {
        padding-top: 24px;
        padding-bottom: 22px;
        
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .menu-item {
        display: flex;
        padding: 0px;
        gap: 40px;
        height: 24px;
    }
    .menu-link {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-link:focus,
    .menu-link:active {
        color:#4D5AE5;
    }
    .mail {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #434455;
        cursor: default;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mail:focus,
    .mail:active {
        color: #4D5AE5;
    }
    .phone  {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: #434455;
        cursor: default;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .phone:focus,
    .phone:active    {
        color: #4D5AE5;
    } 
    .current::after {
        position: absolute;
        top: 46px;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }
    

    .mail {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        cursor: default;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mail:active,
    .mail:focus {
        color: #4D5AE5;
    }
    .phone  {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        cursor: default;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .phone:active,
    .phone:focus    {
        color: #4D5AE5;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
    .page-header { 
        
        width: 100%;
        padding-top: 24px;
        padding-bottom: 28px;
    }
    .page-header-container {
        justify-content: flex-start;
    } 
    .logo {
        margin-right: 77px;
    }
    .logo-part:hover,
    .logo:focus  .logo-part  {
        color: #4D5AE5;
    }
    .item:not(:last-child) {
        margin-right: 40px;
    }
    .contact {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .menu-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-link:hover,
    .menu-link:focus {
        color:#4D5AE5;
    }
    .mail {
        margin-right: 40px;
    }
    .mail:hover,
    .mail:focus {
        color: #4D5AE5;
    }
    .phone  {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        cursor: default;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .phone:hover,
    .phone:focus    {
        color: #4D5AE5;
    }
}


/*Main*/

/*index*/

@media (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
            to right, 
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/mobile-hero-fon@2x.jpg);
    }
}

@media (min-width: 480px) {
    .hero {
        background-image: linear-gradient(
            to right, 
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/tab-hero-fon.jpg);
    }
    @media (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
                to right, 
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
                ),
            url(../images/tab-hero-fon@2x.jpg);
        }
    }
}

@media screen and (max-width: 767px) {
    /* main */
    .resourse {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .container-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 72px;
    }
    .our-team {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 72px;
        text-align: center;
    }
        
    .network-team:focus{
        background-color:#31D0AA;
    }
    .icon-network {
        display: flex;
        fill: #4D5AE5;
    }
    .firm-item {
        flex-basis: calc( (100% - 16px) / 2);
    }
    .customers {
        column-gap: 16px;
    }
    .firm-icon {
        width: 190px;
        height: 88px;
        }

    .firm-icon:active {
        fill:#4D5AE5;
        color:#4D5AE5;
        border: 0.5px solid #4D5AE5;
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    /*PORTFOLIO*/

    .portfolio-container-btns {
        padding-top: 48px;
        padding-bottom: 48px;
        
        }

    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 263px;
        column-gap: 24px;
        row-gap: 16px;
}

@media screen and (max-width: 1199px) {
    .hero-btn:active {
        background: #4D5AE5;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 4px;
    }
    .close-modal:active {
        background: #404BBF;
        fill: #FFFFFF;
        border: 1px solid rgb(0 0 0 / 0);
    }
    
    .input-contact-form:active + .modal-form-icon {
        fill: #4D5AE5;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-form-message:active {
        outline: none;
        border-radius: 4px;
        border: 1px solid #4D5AE5;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-form-checkbox:active + .modal-check::before {
        background-image: url(../images/icons/galochka.svg );
        background-color: #404BBF;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        border-color: #404BBF;
        padding: 4px 3px;
    }
    .contact-form-btn:active {
        background: #4D5AE5;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 4px;
    }

    .img-feature {
        display: none;
    }
    .subsection {
        margin-bottom: 8px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    }
    .description-res {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .network-team:active {
        background-color:#31D0AA;
    }
    .what-are-we-doing {
        display: none;
    }
    .overlay {
        display: none;
    }
    .modal-btn:active    {
        background: #4D5AE5;
        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

@media screen and (min-width: 768px) {
    .main-title {
        font-size: 56px;
    }
    .resourse {
        display: flex;
    }
    .container-item {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding: 0;
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .ul-child {
        flex-basis: calc( (100% - 24px) / 2);
    }
    .subsection {
        text-align: start;
    }
    .container-item-team {
        display: flex;
        padding: 0;
    }
    .our-team {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding: 0;
        justify-content: center;
    }
    .customers {
        column-gap: 24px;
        justify-content: center;
    }
    
    .firm-icon {
        width: 168px;
        height: 88px;
    }


    /*PORTFOLIO*/
    .portfolio-container-btns{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .btns {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        justify-content: center;
    }
    .card-prodject{
        padding-bottom: 96px;
    }
    .card {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 72px;
        column-gap: 24px;
        
    }
    .card-item {
        flex-basis: calc((100% - 24px)/ 2);
    }
    .menu-link:hover,
    .menu-link:active,
    .menu-link:focus,
    .current {
        color: #4D5AE5;
}



}

@media (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(
            to right, 
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
        url(../images/hero-fon.jpg);
    }
    @media (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
                to right, 
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
                ),
            url(../images/hero-fon@2x.jpg);
        }
    }
    .modal-btn:hover    {
        background: #4D5AE5;
        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .hero-btn:hover {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #404BBF;
    }
    
    .close-modal:hover {
        background: #404BBF;
        fill: #FFFFFF;
        border: 1px solid rgb(0 0 0 / 0);
    }
    .main-title {
        margin-bottom: 48px;
    }
    
    .resourse {
        padding-top: 120px;
    }
    .container-item {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 0;
        padding-top: 0;
    }
    .ul-child:not(:last-child) {
        margin-right: 24px;
    }
    .img-feature {
        display: flex;
        background: #F4F4FD;
        width: 264px;
        height: 112px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
    .subsection {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        padding-bottom: 8px;
        color: #2E2F42;
    }
    .description-res {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .network-team:hover {
        background-color:#31D0AA;
    }
    .firm-icon:hover {
        fill:#4D5AE5;
        color: #4D5AE5;
        border: 0.5px solid #4D5AE5;
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        /*PORTFOLIO*/

        .modal-btn:hover    {
            background: #4D5AE5;
            color: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }
        .card {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
            padding-top: 72px;
        }
        .card-item {
            display: block;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        }        
        .card-item {
            flex-basis: calc((100% - 48px) / 3);
        }
        .card-item-overlay:hover .overlay,
        .card-item-overlay:focus .overlay {
            transform: translateY(0);
        }
        .card-overlay{
            position: relative;
            overflow: hidden;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #F4F4FD;
            background-color: #4D5AE5;
            padding: 40px 32px 164px 32px;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .menu-link:hover,
        .menu-link:focus,
        .current {
            color: #4D5AE5;
        }


}


/* footer */



@media screen and (max-width: 767px) {
    .page-footer {  
        text-align: center;   
    }
    .footer-description {
        padding-left: 80px;
        padding-right: 80px;
    }
    .logo-footer {

        margin-bottom: 16px;
        display: flex;
        justify-content: center;
    }
    
    .logo-footer-part:active {
        color: #4D5AE5;
    }
    
    .social-links {
        padding-top: 72px;
    }
    
    .footer-icon:active {
        background-color: #31D0AA;
    }
    
    .footer-icon:focus  {
        background-color: #31D0AA;
    }
    
    .footer-email-form {
        padding-top: 72px;
        
    }
    .footer-input-name {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding-bottom: 16px;
    }
    .footer-input {
        padding-right: 24px;
        padding-bottom: 16px;
    }
    .footer-btn-icon {
        display: inline-flex;
        
    }
    .input-contact-form-footer {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        background-color: #2E2F42;
        letter-spacing: 0.04em;
        width: 264px;
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
    }
    .subscribe-btn-footer {
        display: flex;
        align-items: center;
        padding: 8px 24px;
        gap: 16px;
        background: #4D5AE5;
        border-color: #4D5AE5;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .btn-footer-name {
        padding-right: 16px;
    }
    .subscribe-btn-footer:focus,
    .subscribe-btn-footer:active {
        background-color: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 1px solid #404BBF;
    } 
    
    
} 
@media screen and (min-width: 768px) and (max-width: 1199px)  {
    .footer-logo-social-box {
        display: flex;
        column-gap: 24px;
        padding-left: 108px;
        padding-bottom: 72px;
    }
    .footer-description {
        width: 264px;
        height: 110px;
        padding-top: 16px;
    }
    .footer-network {
        display: flex;
        gap: 16px;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-icon-network {
        fill:  #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-icon:active {
        background-color: #31D0AA;
    }
    
    .footer-icon:focus  {
        background-color: #31D0AA;
    }
    
    .footer-icon {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: rgb(67, 68, 85);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .form-footer {
        display: flex;
    }
    .footer-email-form{
        padding-left: 108px;
    }

}
@media screen and (max-width: 1199px) {
    .footer-box {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
}
@media (min-width: 1200px) {
    .page-footer {
        display: block;

        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .footer-logo-social-box {
        display: flex;
    }
    .footer-box {
        display: flex;  
    }
    .footer-description {
        padding-top: 16px;
        padding-right: 120px;
    }
    .logo-footer-part:hover {
        color: #4D5AE5;
    }
    .footer-icon:hover {
        background-color: #31D0AA;
    }
    .social-links {
        padding-right: 80px;
    }
    .subscribe-btn-footer:hover {
        background-color: #404BBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 1px solid #404BBF;
    } 
    
    .form-footer {
        display: flex;
    }

}
